li {
  display: block;
  /* margin: 0.5rem 0; */

  /* animation: bounce 2s ease-out; referring directly to the animation's @keyframe declaration */
}

.animation li {
  width: 100%;
  height: 100%;
  margin: 0;
  /* line-height: 50px; */
  text-align: left;
 
  /* Apply animation to this element */	
  /* animation: animation 0.3s ease-out; */
}

/* Move it (define the animation) */
/* @keyframes animation {
  0% { 
    transform: translateX(200%); 		
  }
  100% { 
    transform: translateX(0%); 
  }
} */